[2015-09-18 21:43] idmontie opened #2 "Use Google Maps Geocoding Service as the Geo Coder service"
See https://developers.google.com/maps/documentation/geocoding/intro?csw=1#ReverseGeocoding

[2015-09-22 17:31] idmontie opened #3 "Use the Stanford NLP as the Tagger Provider"
- Get a small project working with Composer + PHP Stanford NLP (https://github.com/agentile/PHP-Stanford-NLP)
- Document PHP Stanford NLP Dependencies

[2015-09-22 19:31] idmontie opened #4 "File Upload (Not a Real Issue)"
The GitHub wiki does not allow file uploads to it, so if you ever want to host a file and link to it from the wiki, the "normal" procedure is to have someone on the team make a "File Upload" issue like I am doing now.

The issue will be closed, but if you ever want to share a file (GitHub supports a few image types), just drag and drop the file into a comment response here.

PS: You can ping someo

[2015-09-22 19:31] #4 closed, assigned to nobody

[2015-09-22 19:31] idmontie commented on #4
![gios-tagger-01](https://cloud.githubusercontent.com/assets/412382/10029282/e26cb772-6125-11e5-846d-1859059b4420.jpg)
![gios-tagger-02](https://cloud.githubusercontent.com/assets/412382/10029285/e2702394-6125-11e5-81a4-ec90bac1ebda.jpg)
![gios-tagger-03](https://cloud.githubusercontent.com/assets/412382/10029287/e271378e-6125-11e5-9cf9-ea2ccf4d0f3a.jpg)
![gios-tagger-04](https://cloud.githubuserc

[2015-10-01 19:50] rraub opened #5 "Setup automated testing scaffolding"
This will include [phpunit](https://phpunit.de/) and [phpspec](http://www.phpspec.net/) that will be run on travis-ci.

[2015-10-01 22:46] idmontie commented on #5
You will also need to merge the coveralls results between both phpunit and phpspec.

No idea how to do that yet, I have the same issue in the `sustainability-game` repo.

[2015-10-07 00:58] rraub commented on #5
You can use [phpcov](https://github.com/sebastianbergmann/phpcov) to merge two code coverage reports that are in the php format. See: https://stackoverflow.com/questions/11783854/phpspec-and-coverage-report

[2015-10-07 18:04] idmontie commented on #3
This will also require Java to be installed, so those dependencies should also be documented, as well as installation instructions.

[2015-10-08 16:23] jkarner opened #8 "Capstone Class Assigned Wiki"
We are required to submit a wiki for our final portion this semester through the Blackboard wiki module.  Is there any problem with copying over the pages we create here to submit to our professor, or do they need to be reviewed and edited first?

[2015-10-08 18:22] rraub commented on #8
I think the github wiki in this repo should work for your team, it would be nice to have everything in one place. Feel free to add/edit away!

[2015-10-09 20:40] #5 closed, assigned to rraub

[2015-10-09 21:15] rraub commented on #8
Sorry just re-read your question; copying over the pages at submission time isn't ideal but I would hope that the convenience of having one wiki while the project is being developed will be worth the copy/paste work at submission time. I don't have a problem with it, everything in this repo is publicly viewable.

[2015-10-09 21:46] jkarner commented on #8
If it's publicly view able, then I will check if I can just link this wiki to our professor through ours for grading. Otherwise, we will copy/past the work we do here into the Blackboard module for submission.

[2015-10-09 21:46] #8 closed, assigned to nobody

[2015-10-12 15:27] rraub commented on #4
![designpatternrelationships](https://cloud.githubusercontent.com/assets/295804/10431641/0cfee04c-70bb-11e5-8529-40043b2a911b.png)

[2015-10-15 20:37] ESmith92 opened #11 "File Uploaded (Eric's Class Diagram)"
![gios class diagram](https://cloud.githubusercontent.com/assets/14352987/10526805/d61f5046-7341-11e5-99ab-b85507af95cb.png)

[2015-10-16 21:11] #11 closed, assigned to nobody

[2015-10-20 18:05] jkarner opened #12 "Types of Searches"
http://www.gliffy.com/go/publish/image/9208865/L.png

We know that we'll probably need more methods in the concrete strategies in order to fully implement the strategy. In the meantime, we were wondering how the SearchEngine will connect to the Services? Is it a dependency to the interface?

[2015-10-20 22:21] ESmith92 commented on #4
![20151020_143152](https://cloud.githubusercontent.com/assets/14352987/10622739/393ee254-773e-11e5-87ab-f98a93d54e76.jpg)

[2015-10-26 20:11] idmontie opened #14 "Use the ivan-response-develop branch of Nectary"
There is a breaking change in Nectary that I would like this project to start using, that way we don't have to worry about migrating this repo in the future.

See [this issue](https://github.com/gios-asu/nectary/issues/33) in the Nectary branch. The breaking change involves `View_Model` being renamed to `Response` and also changing namespaces.

[2015-10-27 06:08] kenprice opened #16 "No matchers found for beEmpty and beGreaterThan."
Couple of the tests were broken.

[code]

The `phpspec/phpspec` version in my `vendor` directory is 2.0.x-dev. I had also tried 2.2.x-dev (which is what gets installed when doing `composer install ...` just like in the readme).

Adding inline matchers for these had fixed it.

[code]

I thought it might be an issue with the phpspec version. I made a PR and watched TravisCI run the tests and have th

[2015-10-27 17:29] rraub commented on #16
That is my mistake, I didn't realize I was using matchers that weren't defined. I was expecting the specs to fail, just not like that :wink:
Instead of trying to define our own matchers we should try and use an extension like this one https://github.com/bravesheep/phpspec-extra-matchers

Not that defining our own matchers is the worst thing in the world, its just time consuming.

[2015-10-27 19:21] idmontie commented on #16
We should just write better spec tests rather than these washy ones. They were a good start, but I rewrote them in my branch.

[2015-10-27 19:28] #16 closed, assigned to nobody

[2015-10-27 23:25] idmontie opened #18 "Field injection vs Constructor injection vs Method injection"
Which version of Dependency Injection does everyone prefer?

Field injection

[code]

Constructor injection

[code]

Method Injection

[code]

I prefer the last version - method injection - since it makes it clear which methods use which services. The first is the least preferable because you can't do automatic dependency injection.

[2015-10-29 17:11] idmontie commented on #18
Still debating Constructor vs Method injection.

[2015-10-29 20:55] rraub commented on #18
Constructors FTW :boar:

[2015-10-29 20:55] idmontie commented on #18
:cry:

[2015-10-30 17:14] #18 closed, assigned to nobody

[2015-10-30 17:15] rraub opened #20 "Convert method injection tests to Constructor injection tests"
Per our decision in #18 we need to convert the few tests we currently have to use Constructor injection.

[2015-10-30 22:46] idmontie commented on #14
Setting up Nectary to use Composer, so we'll just have to require version ^0.1.0

[2015-10-30 23:03] #14 closed, assigned to nobody

[2015-11-03 16:17] idmontie commented on #12
Did we resolve this issue in our last couple of meetings? The question is a bit outdated with respect to the system architecture that was decided upon.

Feel free to reopen this if it is still relevant.

[2015-11-03 16:17] #12 closed, assigned to nobody

[2015-11-03 21:42] rraub opened #23 "Add Slack integration hooks to this repo"
I've granted @jkarner access to this repo, you should be able to add the hooks for slack now.

[2015-11-03 22:41] kenprice opened #24 "Query builder for SolrSearch?"
I thought it might be useful to have a `QueryBuilder` interface, with a method that takes the search terms and search options and returns a query string for SOLR. That will move the responsibility of building a query out of `SolrSearch` so that `SolrSearch` can focus on making the query, parsing the results, and returning the results as `SearchResult`.

WIP of diagram here.
http://www.gliffy.com/g

[2015-11-03 22:44] rraub commented on #24
The separation of query construction and execution does make sense, I think that would be a good way to split it up. :+1:

[2015-11-03 22:45] idmontie commented on #24
:+1: The namespace should probably be `SearchApi\Builders` though.

[2015-11-03 23:13] kenprice commented on #24
@idmontie I think you're right. When I thought about this I had Solr specifically in mind. I'll go ahead and use the namespace `SearchApi\Builders` instead.

[2015-11-04 00:08] #24 closed, assigned to nobody

[2015-11-04 22:01] jkarner commented on #23
completed with success. Thanks

[2015-11-04 22:01] #23 closed, assigned to jkarner

[2015-11-05 00:45] ESmith92 opened #26 "SearchEngineSpec Test Question"
How does $this know to be an instance of the SearchEngine? does the test case of $this->shouldHaveType( 'SearchApi\SearchEngine' ); assign $this to a SearchEngine instance?

[2015-11-05 00:47] ESmith92 commented on #26
Also where do the SearchEngineSpec functions get called when the test is run? aka how do I add my own spec test?

[2015-11-05 00:53] idmontie commented on #26
We use PhpSpec which will automatically do magic for you. When following the PhpSpec convention, PhpSpec will automatically run all of your tests (you don't have to "add" your spec test to any sort of list of test).

It will also automagically make the Test object (IE, SearchEngineTest or w/e its called) an instance of SearchEngine.

It's magic! :zap:

[2015-11-05 01:02] ESmith92 commented on #26
alright, but how does the $this in the test end up as an instance of SearchEngine? so that $this->handle_request calls SearchEngine's handle_request function?

[2015-11-05 01:06] ESmith92 commented on #26
One more question: it will test my branch as well or do I need to put it in my local develop branch to test it?

[2015-11-05 01:09] idmontie commented on #26
I recommend reading this: http://www.phpspec.net/en/latest/manual/getting-started.html

Specifically this line might clear up some confusion:

So if you are writing SearchItemSpec, then it will look for `handle` if we call `$this->handle` in `SearchItem`. It's called meta programming iirc.

---

For your other question, TravisCI will run PhpSpec for anything that you push to Github. You can run Ph

[2015-11-05 01:11] ESmith92 commented on #26
k, thank you

[2015-11-05 18:13] #26 closed, assigned to nobody

[2015-11-06 16:53] idmontie opened #29 "Change the Travis badge to only show the develop branch's build status"

[2015-11-07 22:09] #20 closed, assigned to jkarner

[2015-11-12 03:39] kenprice opened #32 "Synonyms - during query or indexing?"
Right now might be too early to make an issue of this. But after reading about SOLR schemas, it made me think - should synonym filtering occur during indexing or querying? SOLR docs says it should be during indexing, but I'm not sure how extensible this is.

Just going to leave these here for now.
- [Query-time multi-word synonym expansion](https://issues.apache.org/jira/browse/SOLR-4381)
- [Bette

[2015-11-12 03:57] kenprice opened #33 "Basic SOLR schema"
It would be helpful for me to have a basic SOLR schema for working on my query builder and making a mock SOLR server response. I could even set up my own SOLR server to play with. Here's what I came up with so far for my `schema.xml`

[gist](https://gist.github.com/kenprice/82ce5ae16e9a09cb81f0)

[code]

@rraub @idmontie please give me some feedback. I'm most concerned right now about names and ty

[2015-11-12 18:12] rraub commented on #33
I'm glad your to the point where you need to ask this question! I've had a rough schema in mind, so here are the main differences and notes to incorporate into yours:
- There are more times than just the published_date, a paper could have a study period of several years and that is valuable information to search on in addition to the publication date. The boring term we use for this type of thing

[2015-11-12 18:27] rraub commented on #32
This is a topic for debate, I think we'll find the answer is going to be a little of both given they each have their pros and cons. One factor that will dictate where and how much we do synonym handling is performance.

[2015-11-12 21:02] jkarner opened #35 "Search options for whole text"
If an entire text is being used to search, there needs to be a mechanism to select which keywords are used for the solr query
- tagged words with most frequency
- top tags results for a category
- user specified categories

[2015-11-12 21:20] jkarner opened #36 "Test Data Workflow Design"
We need to have a pipeline diagram of test data to flow through the system and what we expect to get and return at each state

[2015-11-17 03:54] kenprice commented on #33
I'm having a hard time thinking about how to represent temporal coverage. I think it'd be important to have a description associated with date-ranges. But SOLR does not support struct-like field types. I could do a multiValued field or a straight string field (will need to be parsed to obtain daterange + description) to achieve this. Of course, I could skip the description and just store dates, bu

[2015-11-17 21:17] #29 closed, assigned to rraub

[2015-11-17 22:13] iajohns1 opened #37 "Warnings about for-loops"
I use a for-loop to test the individual contents of the array returned by tagger_service() in ner-tagger.php, but I get a warning. Is there a better way to write this test?
- WARNING | Avoid function calls in a FOR loop test part

I also get this warning when testing a function that contains a FOR loop as well even if the test itself does not contain a for-loop. What conventions should I follow he

[2015-11-17 22:23] idmontie commented on #37
Code snippet please.

[2015-11-17 22:31] rraub commented on #33
What would the temporal coverage description say? "publication date"? are you thinking to use it to qualify what the date means to this item?

Lets say we have a paper thats published in Jan 2015, and the paper is about rainfall from Jan 2000 - Jan 2010. I was imagining this paper would just have two temporal coverages, (Jan 2015, and Jan 2000 - Jan 2010). It's rather hard to pull out a textual co

[2015-11-17 22:31] iajohns1 commented on #37
1st Warning (ner-tagger.php)

[code]

2nd Warning (NerTaggerSpec.php)

[code]

[2015-11-17 22:33] idmontie commented on #37
Use `foreach` instead of `for ( $i = 0; $i < $count; $i++)` type loops.

Also, I don't like loops in tests, but @rraub and I will disagree on that.

[2015-11-17 22:33] iajohns1 commented on #37
Is it acceptable to just test the first component in the array instead of the whole thing?

[2015-11-17 22:38] rraub commented on #37
Ok, I see whats going on.  Yeah the issue is your calling count() within the loop conditional and I would do what @idmontie say's and use a foreach. Foreach is much easier to read and less logic on your end.

For your tests, you can do a equality checks like you had:

[code]

Depending on your test case, there may be a good application for looping over the results and having test assertions on eac

[2015-11-17 22:38] #37 closed, assigned to nobody

[2015-11-17 22:42] rraub commented on #2
Addressed in #28

[2015-11-18 01:01] kenprice commented on #33
I'd make publication date its own field, since this is a field in common with any research paper. This would be a single date and not a range, so I could use the `TrieDateField` type.

It might not always be possible to get any useful date ranges from a paper when ingesting them. So that was my reasoning behind having a separate field for 'other' temporal coverage. I agree that it would be hard to

[2015-11-18 03:11] iajohns1 opened #39 "Error Exception when running spec tests"
I've had this problem since the beginning, but I'd like to remove it. Have any ideas?
This appears bellow every spec test result (pass or fail)

[code]

[2015-11-18 04:20] kenprice commented on #39
Check the directory `/home/ian/Desktop/search-api/vendor/phpunit/php-code-coverage/src/CodeCoverage/R
eport/`
You might be missing something in the `vendor` directory. If so you'll need to do `composer install` again.

[2015-11-18 04:21] kenprice commented on #39
Also if you want to run the same tests TravisCI is doing, you'll need to do:

[code]

You can save it as a script in the project root directory, but don't commit it!

[2015-11-19 21:10] idmontie opened #41 "Configuration utility"
It's built into Nectary: https://github.com/gios-asu/nectary/blob/develop/src/configuration/configuration.php

[2015-11-19 21:12] rraub opened #42 "Move Geocoder curl call to get URL command thing (that Ken is writing)"
Waiting on #40

[2015-11-19 21:18] rraub commented on #39
Try making a `coverage` directory in your working copy to see if it fixes it.

[2015-11-19 21:59] rraub commented on #33
Looks Good!

[2015-11-19 23:14] iajohns1 opened #43 "Go backwards to older commit"
Ken's commit to my branch really screwed me up (I am currently really scared about making undesired changes and other issues have now left me utterly confused) and I would like to go back to the commit before he touched my stuff. How would I do that? Also how would I then bring any changes to the main develop branch to mine to keep my branch up to date?

[2015-11-19 23:25] idmontie commented on #43
Hmmm in what ways did it mess up your branch?

What you might want to do is:
1. Revert back to the commit before Ken's commit (git checkout **hashOfTheCommitGoesHere**)
2. Make a new branch (git checkout -b my-cool-branch-name)
3. Cherry pick your commits from ian-devel (git cherry-pick **hashOfCommit**) Make sure to do these in order! (IE, oldest to newest)
4. In this new branch, git pull origin

[2015-11-19 23:27] idmontie commented on #43
If that seems too complicated, it is because it is. You wrote to the history after it was pushed to Github, making it really hard to change the history (ie, remove the commit that Ken made).

It would be easier to just resolve this "mess up" and make a new commit to your current branch with the fixes.

Also, it looks like it is passing on TravisCI, so what exactly is the problem?

[2015-11-19 23:29] idmontie commented on #43
Also, please close this issue when you figure it out, thanks!

[2015-11-19 23:46] kenprice commented on #43
Try doing a `composer dump-autoload` to update autoload. You have new classes in your branch when you pulled my changes. If you have already done this and have issues, post the symptoms here.

[2015-11-19 23:48] idmontie commented on #43
:+1: That's most likely the issue

[2015-12-01 16:36] #33 closed, assigned to rraub

[2015-12-01 16:36] #43 closed, assigned to nobody

[2015-12-01 16:36] #39 closed, assigned to nobody

[2015-12-03 19:25] jkarner commented on #36
@rraub
branch jillian-feature-testworkflow addresses this initially but it's not complete, we have a bit too much static data right now
Needs
- fix to spec test
- pass coding standards (which won't run and check for me)

[2015-12-03 19:46] rraub commented on #36
FYI Travis will run the coding standards for you when you push your branch to github. https://travis-ci.org/gios-asu/search-api/jobs/94676722

[2015-12-03 21:23] rraub opened #46 "Coding standards dont catch tabs"
It should complain unless they are two spaces.

[2015-12-03 21:33] jkarner opened #47 "Create Digital Ocean Server for SOLR"

[2016-01-12 22:55] rraub opened #48 "Schedule a meeting time for Spring 2016"
I've created a doodle poll for everyone to fill out to see when we are all available.

http://doodle.com/poll/nk72cf9wrca9cnv5

[2016-01-12 22:58] rraub commented on #48
@jkarner @trojchanakasetchai @kenprice @ESmith92 @iajohns1

[2016-01-13 20:37] jkarner commented on #48
All of our team has submitted our availability on the Doodle

[2016-01-14 22:15] rraub commented on #48
Tuesday at 2:00pm seemed to be the closest time that we could all meet.  Would something like 2:30-3:30 work for everyone?

[2016-01-14 23:16] kenprice commented on #48
:+1: for 2:30-3:30
or 2:00-3:00 (don't care which)

[2016-01-14 23:59] ESmith92 commented on #48
I have a class at 3, so if it is fine that I leave half way through then I'm good with it. ..

Probably would not be for the best though

[2016-01-15 00:21] iajohns1 commented on #48
My last class for the day gets out at 1:15pm.
I would prefer not to waste more than an hour before the meeting.
I would be OK with 2:00pm, but 2:30pm is pushing it for me.

[2016-01-15 14:51] rraub commented on #48
@trojchanakasetchai care to weigh in?

[2016-01-15 16:52] trojchanakasetchai commented on #48
I recommend doing 1:30pm to 2:30pm on Tuesday if possible and 2pm-3pm otherwise. There is no way to choose a time that all 5 are free with my current schedule, but I will change my classes to try to make a 1:30 or 2pm meeting on Tuesday.

[2016-01-15 18:34] rraub commented on #48
would 1:30 - 2:30 Tuesday work for everyone?

@kenprice @iajohns1

[2016-01-15 19:12] iajohns1 commented on #48
Yes, that time is perfect for me.

[2016-01-15 19:19] ESmith92 commented on #48
Works for me

[2016-01-15 20:12] jkarner commented on #48
Works for me

[2016-01-15 21:49] kenprice commented on #48
:+1: for 1:30 - 2:30

[2016-01-15 22:17] rraub commented on #48
Alright 1:30-2:30 Tuesday it is, I'll book the room. See you all then!

[2016-01-15 22:17] #48 closed, assigned to rraub

[2016-01-19 19:51] #46 closed, assigned to rraub

[2016-01-19 20:04] #2 closed

[2016-01-19 20:44] rraub opened #50 "Link NER tagger to actual Standford tagger"

[2016-01-19 20:45] rraub commented on #47
https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=digital%20ocean%20pagefile

[2016-01-19 20:46] rraub opened #51 "Document SOLR Server setup"

[2016-01-19 20:47] rraub opened #52 "Implementing the Query Builder for SOLR"

[2016-01-19 20:47] rraub commented on #52
requires #51

[2016-01-19 20:47] ESmith92 opened #53 "Generic Geo Encoder"
Going to be looking into making a generic version of the Geo encoder and parser

[2016-01-19 20:52] rraub opened #54 "Implement Synonyms"
at ingestion time or at query time?

[2016-01-19 20:55] rraub opened #55 "create a current design document on the wiki"

[2016-01-19 20:56] rraub commented on #55
This is our starting point: https://github.com/gios-asu/search-api/wiki/documentation but we've made some changes to this already

[2016-01-19 21:03] jkarner opened #56 "Provide SSH Public keys to access DO server with SOLR"
Ken and Tom are working on the SOLR configuration and implementation and I will create accounts for them once public keys are provided.

In Linux/Unix Environments provide the .pub file generated from this command
`ssh-keygen -t rsa -b 4096`

@kenprice @trojchanakasetchai

[2016-01-19 21:11] #3 closed, assigned to nobody

[2016-01-19 21:20] rraub commented on #41
examples

[code]

Also look at https://github.com/gios-asu/nectary/blob/develop/tests/unit/configuration-utilities-test.php

you can use the global function `config()` that nectary provides.

[2016-01-24 23:42] ESmith92 opened #57 "http-get: __destruct() not in execute()?"
just wondering why the __destruct() function was left out of the execute. Is there a case where we would need that curl object still after we get the response?

[2016-01-24 23:54] ESmith92 commented on #57
also should we add a timeout for the curl (var seconds = 120; curl_setopt($ch, CURLOPT_TIMEOUT, seconds );)

[2016-01-25 01:43] kenprice commented on #57
No need. PHP's garbage collection will call the destructor for you. Unless, of course, our implementation causes PHP to hold on to the reference to an instance of `HttpGet`.

As for the timeout, that's something that could be a new issue. I haven't considered it, but I should have! By default, `CURLOPT_TIMEOUT` is set to 0 (indefinite). It'll be worth setting a default timeout.

[2016-01-25 02:36] ESmith92 commented on #57
one more thing:  we should add a get function for curl info (return curl_getinfo( $curl );) so we can throw exceptions

[2016-01-25 04:26] kenprice commented on #51
Completed setup guide: https://github.com/gios-asu/search-api/wiki/Setting-up-a-SOLR-test-server

[2016-01-25 04:26] #51 closed, assigned to kenprice

[2016-01-25 04:58] kenprice opened #59 "Timeout and Error Handling in HttpGet command"
An issue came up when discussing the use of curl in `HttpGet` (#57).

HttpGet Command should
- Have connection timeout when doing curl
- Throw an exception on timeout
- Throw an exception on error

Parts of the code that rely on HttpGet should
- Handle exceptions
- Fail gracefully on error

  "Fail gracefully" is a bit vague. Maybe it would be sufficient to return an error to the user. What we'd l

[2016-01-25 05:00] kenprice commented on #57
Created new issue for timeout and error handling.

[2016-01-25 05:00] #57 closed, assigned to nobody

[2016-01-25 06:40] ESmith92 commented on #53
To DO:
in parser
-move reverse_geocoder_parser func to component class of parsers

in google geocoder
-move create_URL func to component class url builders
-rename geocoder (remove google from name)

[2016-01-25 14:46] rraub commented on #51
:+1:

[2016-01-26 19:56] jkarner commented on #47
[solr site](http://jilliantessa.me:8983/solr/#/)
[server setup guide](https://github.com/gios-asu/search-api/wiki/Server-Setup)

[2016-01-26 19:56] #47 closed, assigned to jkarner

[2016-01-26 19:58] jkarner opened #60 "Secure SOLR Server with https and lockdown admin console"
The current implementation of SOLR is open to everyone and needs to be locked down so my server will not be compromised

[2016-01-26 19:59] rraub commented on #47
:+1:

[2016-01-26 20:02] jkarner opened #61 "Configure Test Server Using Wiki Doc"
SOLR server is up and will be configured according to the directions in the [wiki](https://github.com/gios-asu/search-api/wiki/Setting-up-a-SOLR-test-server)

[2016-01-26 20:02] #41 closed, assigned to kenprice

[2016-01-26 20:48] kenprice opened #62 "NER tagger dependencies"
TODO for the NER tagger dependency
- Create a symbolic link to the `.tagger` and `.jar` file, store at `/usr/local/bin`
- Have Travis download the dependencies and symlink

[2016-01-26 20:51] idmontie commented on #62
Here is an example from another we repo we have that requires binary dependency: https://github.com/gios-asu/pdf-generation-experiment/blob/master/index.php

[code]

We then have instructions in our README file:

[code]

[2016-01-26 20:52] rraub commented on #62
or we could create a vendor folder and put the jar's we need in there.

[2016-01-26 20:55] rraub commented on #56
still waiting to verify with @trojchanakasetchai

[2016-01-26 21:03] rraub commented on #62
Just dont call it `vendor` because composer uses that folder already

[2016-01-26 21:06] rraub opened #64 "Write integration tests"
At least three tests.. please.

Edited by @kenprice
- [x] Tests for `SolrSearch`'s `query` method (use the SOLR test server).
- [ ] Tests for `NerTagger` with actual Stanford NER libs.
- [x] Tests for `ReverseGeocoderClass` with Google's maps API.
- [ ] Tests for `SearchEngine`'s `handle_request` method with all of the above services.

[2016-01-26 21:09] rraub opened #65 "Use authentication to talk to SOLR server"
SOLR search Provider

[2016-01-28 20:42] jkarner commented on #56
@trojchanakasetchai and @kenprice can login and work on the DO instance

[2016-01-28 20:42] #56 closed, assigned to jkarner

[2016-01-28 20:56] #61 closed, assigned to jkarner

[2016-01-28 20:58] kenprice commented on #61
Created core `gios-dev`

[2016-01-28 22:58] kenprice commented on #55
Interpreted issue to mean: Create new class diagram to reflect our current design.

Updated [documentation](https://github.com/gios-asu/search-api/wiki/documentation) with new class diagram, where we had left off at the end of last semester.

Tagged "In Progress" until further feedback from @rraub

[2016-01-28 23:15] rraub commented on #55
:+1:  looks good, thanks @kenprice

[2016-01-28 23:15] #55 closed, assigned to kenprice

[2016-01-30 01:59] kenprice opened #66 "Stanford NER Tagger fails when specifying certain directories."
I am currently working on having the path to the NER Tagger / classifier be configurable. I encountered an interesting problem. In the case where a `StanfordNLP\NERTagger` is instantiated with `./lib/stanford-ner-2015-04-20/...` as the root of the `.jar` and classifier files, the tests for our NER Tagger fails. For `/usr/local/bin/stanford-ner-2015-04-20/...`, the tests pass. I'm looking into the

[2016-01-30 02:11] kenprice commented on #66
I opened this issue as my "notes", and in case anyone else wants to chime in. But I figured it out. To make `php-stanford-nlp` play nice with the Stanford NER Tagger, we need to use absolute paths. Closing.

[2016-01-30 02:11] #66 closed, assigned to nobody

[2016-01-30 03:40] kenprice commented on #62
I helped out a bit. Created a branch off `ian-devel`, and made the following changes:
- Used configuration utility to make root path to Stanford NER library configurable.
- Travis: Fetch Stanford NER library and cache it. Save it to `./lib` wrt project path.
- Travis: Use Java 8 OpenJDK instead of default Java 7. Used `linuxbrew` to achieve this.
- Travis: Cache `~/.linuxbrew` so we don't have to

[2016-02-02 06:24] kenprice opened #68 "snake_case"
Are we using snake_case??

Latest Travis build for my `ken-query-builder` branch is littered with these types of errors in the logs:

[code]

[2016-02-02 14:28] idmontie commented on #68
The coding standards repo that we use was updated and now enforces the use of snake case. We are debating whether to disable it or not.

[2016-02-02 16:48] rraub commented on #68
It can disabled with:
`<exclude name="WordPress.NamingConventions.ValidVariableName"/>`

But it might be worth keeping on if there aren't too many offenses to fix.

[2016-02-02 20:20] rraub commented on #68
fixing these new coding standards should get in the way of a new features. Adopting a new standard thats requires big changes can be its own issue to be solved.

[2016-02-02 20:24] #42 closed, assigned to ESmith92

[2016-02-02 21:11] rraub opened #70 "Find improvements"
Create an issue with the improvement suggestion.

[2016-02-02 21:13] rraub opened #71 "Search Request validation"
Where should the request get validated?

[2016-02-02 21:14] rraub commented on #71
Lets make a sequence diagram!

[2016-02-02 21:20] rraub opened #72 "Come up with ideas on how to handle the NER tagger tokenizing on whitespace"
so `ken price` becomes two tokens `ken` `price` instead of one.

[2016-02-02 21:26] rraub opened #73 "Display Search Results"
How are the users going to get to the second page?

[2016-02-02 21:30] rraub opened #74 "Who wants to come up with some cool query strings?"
any takers?

[2016-02-02 23:59] kenprice commented on #71
An idea for validating user input: Since `SearchRequest` contains all of the user input, we could have a `SearchRequestBuilder` which will be in charge of validating user input, and either return a `SearchRequest` object or an error.

[2016-02-03 01:57] kenprice commented on #36
@jkarner Not sure what you mean by pipeline diagram, but I made a sequence diagram for the whole system and `SolrSearch` [here](https://github.com/gios-asu/search-api/wiki/Model-for-dynamic-aspects-of-the-project).

[2016-02-03 02:01] kenprice commented on #71
@rraub As for the sequence diagram, I made a diagram [here](https://github.com/gios-asu/search-api/wiki/Model-for-dynamic-aspects-of-the-project). I'm just learning UML, so it's basic. But I think I put enough information in the models I made.

[2016-02-03 02:09] kenprice commented on #73
TODO
- [ ] Return paginated results
- [ ] Use `SearchOptions` to allow user navigation of pages.
- [ ] Set default value for `resultsPerPage` if none is provided.
- [ ] Make sure you write tests!

[2016-02-03 14:06] rraub commented on #71
@kenprice looks good, these diagrams illustrate nicely the basic flow of the application. One of the nice features of these diagrams is the discussions they can bring out: For example when should the execution not follow this exact path? (validation errors)

[2016-02-09 19:21] rraub commented on #60
Whats the progress on this?

[2016-02-09 20:26] rraub commented on #53
Can we close this issue or is there more you want to get done on this?

[2016-02-09 20:37] #53 closed, assigned to ESmith92

[2016-02-09 20:46] rraub opened #76 "Have the Search engine handle errors from the Geoencoder"
Assuming the geoencoder throws exception if there is an error.

[2016-02-09 20:51] rraub opened #77 "Add (forward) geocoder functionality"
Given a location name figure out where that is (lat/lon)

[2016-02-09 21:15] kenprice opened #78 "Remove NERTagger dependencies from repo"
Don't commit the `.jar` and classifier files for the Stanford NER tagger!

[2016-02-16 20:09] rraub commented on #36
if @jkarner agrees, we can close this issue since @kenprice made a sequence diagram that shows how the different parts of this system work together through the search engine and the integration tests in #79

[2016-02-16 20:42] #36 closed, assigned to jkarner

[2016-02-16 20:43] #60 closed, assigned to jkarner

[2016-02-16 20:43] rraub opened #80 "Publish nginx docs for this project"
in wiki.

relating to #60

[2016-02-16 21:15] ESmith92 opened #81 "Reverse Geocoder mock"
Move test away from the actual service to a mock curl call

[2016-02-16 21:20] rraub opened #82 "create fake but better test data in SOLR with synonyms"
mainly to test out how to do synonym expansion at ingestion time.

[2016-02-16 21:21] rraub commented on #64
Lets have travis use the Digital Ocean test server for now.

[2016-02-16 21:25] rraub commented on #81
But leave the actual calls to google in the integration tests for the reverse geocoder

[2016-02-16 21:28] kenprice opened #83 "For TravisCI: Create instance of SOLR server"
Eventually we'd want to move away from using the Solr test server in `config.conf` in our TravisCI tests, and instead create a new local instance of Solr. This is analogous to setting up a test database for integration tests: we do this so that we don't depend on a external Solr server that may or may not be online when tests are performed.

[2016-02-16 21:29] rraub commented on #32
index time

[2016-02-16 21:29] #32 closed, assigned to rraub

[2016-02-23 20:40] #62 closed, assigned to iajohns1

[2016-02-23 20:42] #50 closed, assigned to iajohns1

[2016-02-23 20:50] rraub opened #85 "Make NerTagger Constructor, which is injectable"
https://github.com/gios-asu/search-api/blob/develop/src/providers/ner-tagger.php#L31-L41

[2016-02-23 20:56] #78 closed, assigned to nobody

[2016-02-25 21:35] jkarner opened #89 "Reduce Keyword Array by grouping same words and putting count as occurences"
(Related #70, #35)

If two keywords contain the same text they should be considered the same keyword. The count of how many are collapsed with by in the keyword object as `occurs`

[2016-02-25 21:38] iajohns1 commented on #85
https://github.com/gios-asu/search-api/commit/39d1b1c93a5456d0322e78bb257a417ac0929f04

Is this what you wanted?
If so, you I create a pull request for this now or wait until I add error handling to the tagger?

[2016-02-25 22:42] kenprice commented on #68
Addressed in [this PR](https://github.com/gios-asu/search-api/pull/87); closing.

[2016-02-25 22:42] #68 closed, assigned to kenprice

[2016-02-25 22:47] kenprice commented on #59
Being addressed in PR #88

[2016-02-25 22:50] kenprice commented on #52
Addressed in PR #75 .
An issue for improved query builder implementations is made in issue #74

[2016-02-25 22:50] #52 closed, assigned to kenprice

[2016-03-01 17:59] jkarner commented on #80
see information in the setting up the server wiki page

[2016-03-01 17:59] #80 closed, assigned to jkarner

[2016-03-01 18:03] rraub commented on #80
https://github.com/gios-asu/search-api/wiki/Server-Setup :+1:

[2016-03-01 20:09] rraub opened #91 "NER tagger needs to account for errors"
On travis the NER tagger is erroring out, but because we are not looking at the errors via:

[code]

check out the `rraub-ner-tagger-error-catching` branch for explanation

[2016-03-01 20:39] rraub commented on #91
https://github.com/gios-asu/search-api/blob/rraub-ner-tagger-error-catching/src/providers/ner-tagger.php#L46-L47

[2016-03-01 20:41] kenprice opened #93 "TravisCI can not run Java, causing tests to fail."
Workaround for the issue: Change the `sudo: false` line in travis.yml so that we can install Java. This causes TravisCI to not use the "container mode", and as a consequence tests will run slower. This is fine until a better solution is available.

[2016-03-01 20:43] #71 closed, assigned to kenprice

[2016-03-01 21:04] rraub opened #94 "refactor geocoder into more generic pieces"
This would allow for more geocoders to be written in the future and keep all the google specific stuff isolated from any other geocoder implementations.

[2016-03-01 21:26] kenprice opened #95 "SearchEngine should return error message if unrecoverable error state occurs."
Suppose a user attempts a search, and somehow our Search API goes into an unrecoverable error state and fails to return results. This should be indicated as part of search results so that the error can be displayed to the user.

Example additions to SearchResult class:

[code]

[2016-03-03 20:48] iajohns1 commented on #72
I've been looking into it and I think that the most accurate (albeit slowest) method would be to combine all adjacent terms of the same type into all possible combinations. I think it would also be smart to give larger chains a higher relevance rating (if relevant is between 0 - 1, then relevance = length / (length + 1)).

ex)  `ken` `price` `ian` `johnson` will add `ken price` `ken price ian` `ke

[2016-03-03 21:09] rraub commented on #72
FYI the [Stanford folks have a tokenizer](http://nlp.stanford.edu/software/tokenizer.shtml) that might be useful.

Another drawback to using n-grams (like you suggested) is having to reconstruct the results since your getting more than one tag per word.

[2016-03-03 21:32] iajohns1 commented on #91
I put the code snippet from the `rraub-tagger-error-catching` branch and it seems to work in the constructor where the tagger is initialized; however, it seems to count every usage of the tagger as enough of a reason to give an error message, despite there seemingly being no actual error.

commit: https://github.com/gios-asu/search-api/commit/388a0756c02832f55f7a8d896a676731f5ea62b8

[2016-03-15 20:44] #93 closed, assigned to nobody

[2016-03-15 20:53] rraub commented on #54
Ingestion time!

@kenprice will push some setup scripts

[2016-03-15 22:46] kenprice commented on #91
`$tagger->getErrors()` gets the `stderr` output for `java -mx300m -cp "/usr/local/bin/stanford-ner-2015-04-20/stanford-ner.jar:" edu.stanford.nlp.ie.crf.CRFClassifier -loadClassifier /usr/local/bin/stanford-ner-2015-04-20/classifiers/english.all.3class.distsim.crf.ser.gz -textFile /tmp/phpnlptagtk2StK -encoding utf8`, the command that the PHP wrapper we're using invokes.

`phpnlptagtk2StK` is a te

[2016-03-15 22:55] kenprice commented on #91
Here's a potential workaround if you want to detect an error in the subprocess using `$tagger->getError()`.

Here's a command in the same form that the PHP wrapper (the PHP Stanford NLP lib we're using) builds that causes an error:

[code]

Sorry for the wall of text. Above error is unlikely for us. But this could happen:

[code]

The error above could be triggered by misconfiguration of our app.

[2016-03-17 20:23] rraub commented on #94
Was this issue completely addressed in #96 ?

[2016-03-17 20:37] ESmith92 commented on #94
In the sense that the Google geocoder is its own classes again, yes.

The only generic piece is the job decoder. Everything else is Google specific

[2016-03-17 20:38] ESmith92 commented on #94
In the sense that the Google geocoder is its own classes again, yes.

The only generic piece is the joson decoder. Everything else is Google specific

[2016-03-17 20:39] ESmith92 commented on #94
In the sense that the Google geocoder is its own classes again, yes.

The only generic piece is the json decoder. Everything else is Google specific

[2016-03-17 20:39] #94 closed, assigned to ESmith92

[2016-03-17 20:39] ESmith92 commented on #94
Phone is causing problems with a simple reply

[2016-03-17 20:43] #59 closed, assigned to ESmith92

[2016-03-20 00:56] #82 closed, assigned to trojchanakasetchai

[2016-03-22 20:27] rraub commented on #85
That will work, after the construction of the NerTagger object we can mock the $tagger class variable for testing.

[2016-03-22 20:27] #85 closed, assigned to iajohns1

[2016-03-22 21:27] rraub commented on #89
FYI: We could do some of this within the solr search itself.

[2016-03-22 21:29] rraub commented on #54
@kenprice dont forget to update the wiki

[2016-03-29 21:07] #81 closed, assigned to ESmith92

[2016-03-29 21:10] rraub commented on #76
it should catch any exception thrown from https://github.com/gios-asu/search-api/blob/develop/src/search-api/search-engine.php#L67
and keep on chugging!

[2016-03-29 21:14] rraub commented on #76
solved in #103

[2016-03-31 19:03] ESmith92 opened #104 ""Forward" Google Geo Coder"
so I read over how google set up the calls for the forward geo coding and it seems that the reverse geo coder classes could be use with a different parser and a update to the url builder to allow for address parameter rather than lat and log.

Would you like to have the two types of geo coders completely separate or should the forward geo coder only have a new parser and maybe a new url builder?

[2016-03-31 19:55] rraub commented on #104
What is common between the two should be shared and what is different should be different. What I shouldn't see is two classes that are 90% the same with the exception of the word "forward" or "reverse". Does that make sense?

Two parsers could be fine, if they have the same interface then I would make them inherit or implement that interface to reduce code duplication.

[2016-03-31 20:09] ESmith92 commented on #104
alright, should i have the url be one class then... the only difference is  address= rather than latlng= in the url

[2016-04-01 17:59] #104 closed, assigned to rraub